<title>Welcome to New Digital Shop</title>

<table>
  <tr>
    <th>Product Name</th>
    <th>Brand</th>
    <th>Price</th>
  </tr>
    <% @all_products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %> 
</table>