   <%= form_tag "/products", method: :post do %>
   <div>
     Product Name: <input type="text" name="name"><br>
   </div>
   <h2>          </h2>
   <div>
    Brand: <input type="text" name="brand"><br>
  </div>
  <h2>          </h2>
  <div>
    Price: <input type="text" name="price"><br>
  </div>
  <h2>           </h2>
  <div>
   <input type="submit" value="Create Product"> 
  </div> 
  <% end %>

<<!-- h1>       </h1>
  <%= form_tag "/products", method: :post do %>
  <div class="products">
    <label for="type in your email">Email address</label>
    <input type="email" class="form-control" id="type in your email" placeholder="Email">
  </div>
  <h1>             </h1>
  <div class="products">
    <label for="Your Passowrd">Password</label>
    <input type="password" class="form-control" id="Your Password" placeholder="Password">
  </div>
  <h3>                   </h3>

  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <h3>          </h3>
  <div class="products">
    <label for="Upload a file">File input</label>
    <input type="file" id="Upload a file">
    <p class="help-block">Example block-level help text here.</p>
  </div> -->
  <h3>             </h3>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
    <h3>                  </h3>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <% end %>