<h1>New Image</h1>
<br>

<%= form_tag "/images/image.id", method: :post do %>
  <div>
    Email:
    <input type="image" name="image">
  </div>
  <br>
  <div>
    Password:
    <input type="password" name="password">
  </div>
   <br>
  <input type="submit" value="Log In">
<% end %>